.statistics {
  margin-top: 2px;
  background-color: bisque;
  min-width: 150px;
  text-align: center;
  border-radius: 20px;
  border: 1px solid rgb(78, 78, 77);
}

.statList {
  display: flex;
  width: 100%;
  margin: 0;
  justify-content: space-between;
}

.item {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-radius: 20px;
  border: 1px solid rgb(78, 78, 77);
}

.title {
  font-weight: bold;
  color: rgb(89, 89, 89);
  font-size: 20px;
  text-transform: uppercase;
  padding: 10px;
}

/* .item1 {
  background-color: rgb(233, 182, 208);
}

.item2 {
  background-color: rgb(238, 145, 145);
}

.item3 {
  background-color: rgb(75, 224, 199);
}

.item4 {
  background-color: rgb(172, 185, 83);
}

.item5 {
  background-color: rgb(168, 219, 150);
} */
